body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffbfdf; /* чорний фон */
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  overflow: hidden; /* щоб емоджі не вилазили */
}

.timer {
  font-size: 3em;
  background: rgba(76, 0, 128);
  padding: 10px 20px 40px 20px;
  border-radius: 20px;
  border: 0px solid #fc037f; /* помаранчева рамка */
  box-shadow: 0 0 50px #4c0080;
  z-index: 10;
}

/* стилі для літаючих емоджі */
.emoji {
  position: absolute;
  font-size: 3rem;
  animation: floatUp linear infinite;
}

@keyframes floatUp {
  from { transform: translateY(100vh); opacity: 1; }
  to   { transform: translateY(-10vh); opacity: 0; }
}
